body {
background-color: darkseagreen}


h1 {font-family: 'Lobster', cursive;}
p1 {font-family: 'Crimson Text', serif;}
div

h2 {font-family: 'Anton', sans-serif}
h2 {font-size: 25px}
p2 {font-family: 'Heebo', sans-serif;}
div

h3 {font-family: 'Shadows Into Light', cursive;}
h3 {font-size: 25px}
p3 {font-family: 'Roboto Mono', monospace;}
div

}

h1, h2, h3, h4, h5, h6 {

}

p {

}
